<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nandi.disastermanager">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="24640059" />
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="8b92c7c28a103144df5775e8126f2f45" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="xEkGjXRuw3y7IeswAZl6rEEi9Tp08hBM" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.nandi.disastermanager.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.WelconmeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".videocall.helloanychat.VideoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".videocall.helloanychat.VideoCallActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".videocall.helloanychat.VideoConfig"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search.SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:screenOrientation="landscape"
            android:theme="@style/TipDialog1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".search.DetailDataActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:screenOrientation="landscape"
            android:theme="@style/TipDialog" />
        <activity
            android:name=".search.MonitorDataActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:screenOrientation="landscape"
            android:theme="@style/TipDialog" />
        <activity
            android:name=".search.MonitorListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:screenOrientation="landscape"
            android:theme="@style/TipDialog" />
        <activity
            android:name=".search.MonitorPhotoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:screenOrientation="landscape"
            android:theme="@style/TipDialog" />
        <activity
            android:name=".search.NavigationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:screenOrientation="landscape"
            android:theme="@style/TipDialog" />
        <activity
            android:name=".videocall.helloanychat.ProgressActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".videocall.helloanychat.ReceiveVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".search.EnlargePhotoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:screenOrientation="landscape"
            android:theme="@style/TipDialog" />
        <activity
            android:name=".SettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:screenOrientation="landscape"
            android:theme="@style/TipDialog1" />
      <activity android:name=".NoticeActivity"
          android:configChanges="keyboardHidden|orientation|screenSize|navigation"
          android:screenOrientation="landscape"
          android:theme="@style/TipDialog1"
          />
        <service
            android:name=".videocall.helloanychat.MyService"
            android:enabled="true" />
        <service android:name="com.alibaba.sdk.android.push.AliyunPushIntentService" />
        <service
            android:name=".http.UpdataService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".http.ReplaceService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <receiver
            android:name=".videocall.helloanychat.MyReceiver"
            android:exported="false">
            <intent-filter>
                 
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                     
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".http.DownloadMapService"
            android:enabled="true"
            android:exported="true"/>

        <activity android:name=".search.PhotoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:screenOrientation="landscape"
            android:theme="@style/TipDialog1"/>
    </application>

</manifest>