<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nandi.disastermanager">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="24617043" />
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="d751a1236a17e4f10ac8ddbc72634531" />

        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".videocall.helloanychat.VideoActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="landscape">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".videocall.helloanychat.VideoCallActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="landscape">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".videocall.helloanychat.VideoConfig"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="landscape">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search.SearchActivity"
            android:screenOrientation="landscape"
            android:theme="@style/TipDialog">

        </activity>

        <activity
            android:name=".search.DetailDataActivity"
            android:screenOrientation="landscape"
            android:theme="@style/TipDialog" />
        <activity
            android:name=".search.MonitorDataActivity"
            android:screenOrientation="landscape"
            android:theme="@style/TipDialog" />
        <activity
            android:name=".search.MonitorListActivity"
            android:screenOrientation="landscape"
            android:theme="@style/TipDialog" />
        <activity
            android:name=".search.MonitorPhotoActivity"
            android:screenOrientation="landscape"
            android:theme="@style/TipDialog" />
        <activity android:name=".search.NavigationActivity"
            android:screenOrientation="landscape"
            android:theme="@style/TipDialog" />
        <activity
            android:name=".videocall.helloanychat.ProgressActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".videocall.helloanychat.ReceiveVideoActivity"
            android:screenOrientation="landscape" />

        <service
            android:name=".videocall.helloanychat.MyService"
            android:enabled="true" />

        <receiver
            android:name=".videocall.helloanychat.MyReceiver"
            android:exported="false">
            <intent-filter>
                 
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                     
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>


    </application>

</manifest>